.flotarderecha{
    float: right;
}
.capacentrada{
    width: 70%;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.centradoelementoinline{
    /*forma cutre con text-align*/
    text-align: center;
}
.contenedor{
    width: 80%;
    min-height: 300px;
    border: solid 1px black;
    position: relative;
}
.alinearderechaposition{
    position: absolute;
    right: 0;
    top: 0;
}
.alinearderechafloat{
    float: right;
}
ol{
    list-style-type: none;
    margin-top: 40px;
}
ol li{
    padding: 30px 10px;
    border: solid 1px black;
    display: inline;
}
.centradoverticalhorizontal{
    margin-top: 40px;
    height: 200px;
    line-height: 200px;
    border: 1px solid black;
    text-align: center;
}
.centradoverticalhorizontal p{
    line-height: 0;
    display: inline-block;
    vertical-align: middle;
}
.contenedortransform{
    height: 200px;
    position: relative;
    border: 1px solid black;
}
.contenedortransform p{
    margin: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); /*Desplaza en el eje x y en el eje y*/
    -ms-transform: translate(-50%,-50%);
}
.opacidad{ /*Establece la opacidad de un elemento*/
    opacity: 0.5;
    filter: alpha(opacity=50); /*IE 8 y anteriores*/
}
.contenedorimagen{
    position: relative;
}
.texto{
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    width: 100%;
}
.opacidadimagen{
    width: 100%;
    opacity: 0.5;
    filter: alpha(opacity=50);
}